{% extends 'films/layout.html' %}

{% block title %}
    <title>Главная страница</title>
{% endblock %}

{% block content %}
    <div class="text-center">
        <h1>Добро пожаловать на {{ caption }}</h1>
        <h5> — ваш надежный гид в мире кино!</h5>
        <hr class="bg-light">
        <p>Здесь вы можете делиться своими впечатлениями от просмотренных фильмов,
            читать отзывы других пользователей и находить новые шедевры для вечернего просмотра.</p>
        <p>Присоединяйтесь к нашему кинолюбивому сообществу и откройте для себя лучшие фильмы
            всех времен и жанров.</p>
    </div>
{% endblock %}